/* landing page styles */

/* * {
    outline: 1px solid black;
} */

.landing {
    width: 95%;
    margin: 70px auto;
}

.heading-landing-page {
    color: #b55151;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.6rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
}

.intro {
    font-weight: 500;
    padding: 30px;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 3rem;
    color: rgb(100, 24, 24);
}

.landing-img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-register-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px auto;

}

@media only screen and (max-width: 640px) {

    .landing-flex {
        position: relative;
    }

    .login-register-buttons {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (min-width: 641px) {

    .landing-flex {
        display: flex;
    }

    .landing-img {
        width: 50%;
    }

    .heading-landing-page {
        font-size: 2rem;
        line-height: 3rem;
    }

    .intro {
        padding: 30px;
        font-size: 1.2rem;
        max-width: 800px;
        margin: 40px auto;
        line-height: 2.6rem;
    }
}