@media only screen and (min-width: 764px) {
    .header-flex {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
        margin: 30px;
    }

    .header-img {
        width: 50%;
    }
}

@media only screen and (max-width: 495px) {
    section {
        max-width: 80%;
    }

    .form {
        max-width: 80%;
    }

}