@media only screen and (min-width: 600px) {
    .header-flex {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
        margin: 30px;
    }

    .dashboard-icon {
        width: 70px;
    }
    .form {
        max-width: 500px;
    }
}

@media only screen and (min-width: 800px) {

    .flex-reverse {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .heading-landing-page {
        font-size: 1.85rem;
        line-height: 3rem;
    }

    .intro {
        max-width: 50%;
    }
}